.movie-search-section {
    background: linear-gradient(to right, #001f3f, #0074d9);
    padding: 50px 0;
}

.movie-search-section h1 {
    color: white;
    font-weight: 700;
}

.search-input {
    width: 50%;
    max-width: 500px;
    margin: 20px auto 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}